/* Common elements */
body, td, th {
	font-family: Tahoma,Verdana,Arial;
	font-size: 12px;
}
h2, h3 {
	text-align: center;
}

/* Borders */
* {
	border-width: 1px;
	border-style: none;
}
h2, h3, .header {
	border-style: solid;
}

/* Tables */
table {
	width: 100%;
	border-collapse: separate;
}
td, th {
	border-style: solid;
	text-align: center;
}

/* Colors */
* {
	border-color: #666;
}
body {
	color: #666;
	background: #fff;
}
h2, th, .header {
	color: #e9e9e9;
	background: #666;
}
h3, .marker {
	color: #666;
	background: #e9e9e9;
}

/* Page layout */
#leftColumn, #rightColumn {
	width: 49%;
	vertical-align: top;
	text-align: left;
	border: none;
	
}

/* Cell layouts */
.labelValue {
	display: inline-block;
	margin-top: 4px;
	vertical-align: bottom;
}
th.labelValue, td.labelValue {
	display: table-cell;
}
.labelValue .value,
.labelValue .label {
	display: block;
	text-align: center;
}
.labelValue .label {
	border-width: 1px 0 0 0;
	border-style: solid;
}
.labelValue.header .value {
	font-weight: bold;
	font-size: 16px;
	padding: 6px 6px 0;
}
.labelValue.header .label {
	border-style: none;
}

/* Basics section */
#basics .labelValue {
	width: 24%;
}
#basics .labelValue .label {
	text-align: left;
}
#basics .labelValue.size,
#basics .labelValue.gender,
#basics .labelValue.age,
#basics .labelValue.height,
#basics .labelValue.weight,
#basics .labelValue.hair,
#basics .labelValue.eyes {
	width: 13.5%;
}
#basics-pfs .labelValue.faction,
#basics-pfs .labelValue.fame,
#basics-pfs .labelValue.prestige,
#basics-pfs .labelValue.buyingLimit {
    width: 24%;
}
#basics-sfs .labelValue.faction,
#basics-sfs .labelValue.fame,
#basics-sfs .labelValue.reputation {
    width: 24%;
}

/* Basics section (Animal Companion) */
#basics.companion .labelValue.size,
#basics.companion .labelValue.gender,
#basics.companion .labelValue.age,
#basics.companion .labelValue.height,
#basics.companion .labelValue.weight,
#basics.companion .labelValue.hair {
	width: 14%;
}
#basics.companion .labelValue.eyes {
	width: 13%;
}
#basics.companion .labelValue.name,
#basics.companion .labelValue.type,
#basics.companion .labelValue.level {
	width: 33%;
}

/* Attributes section */
#attributes th {
	width: 20%;
}
#attributes th,
#attributes td {
	font-size: 16px;
	padding: 6px 0;
}

/* HP section */
#hp .hp .name, #hp .hp .value {
	font-size: 16px;
	padding: 6px;
	border-style: solid;
}
#hp .hp .name {
	font-weight: bold;
}
#hp .wounds .name, #hp .nonlethal .name {
	width: 100%;
}
#hp .wounds .value, #hp .nonlethal .value {
	display: inline-block;
	border-style: solid;
	width: 100%;
}
#hp .wounds .value {
	height: 80px;
}
#hp .nonlethal .value {
	height: 50px;
}

/* Initiative section */
#initiative td {
	border: none;
}
#initiative .labelValue {
	width: 25%;
}
#initiative .labelValue .label {
	height: 36px;
}

/* AC section */
#ac td {
	border: none;
}
#ac .labelValue {
	width: 10%;
}
#ac .labelValue .label {
	height: 36px;
}

/* Speed section */
#speed .header {
	font-size: 16px;
	font-weight: bold;
	padding: 16px 6px;
	margin: 8px 0;
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
}
#speed .speedBlock {
	display: inline-block;
}
#speed .speedData {
	border-style: solid;
}
#speed .speedData .labelValue {
	margin: 0;
}
#speed .speedData .labelValue .label {
	border: none;
	margin: 4px;
}
#speed .speedData .labelValue.base .label,
#speed .speedData .labelValue.base .value {
	text-align: left;
}
#speed .speedData .labelValue.encumbered .label,
#speed .speedData .labelValue.encumbered .value {
	text-align: right;
}
#speed .speedData .labelValue.base .value {
	margin: 4px 12px 12px 4px;
}
#speed .speedData .labelValue.encumbered .value {
	margin: 4px 4px 12px 12px;
}
#speed .speedBlock .speedType {
	display: block;
	text-align: center;
}

/* Skills section */
#skills table {
	border-collapse: collapse;
}
#skills th,
#skills td {
	border: none;
}
#skills td.name {
	text-align: left;
}

/* Saving throws section */
#saves th {
	width: 16%;
}
#saves th,
#saves td {
	font-size: 16px;
	padding: 6px 0;
}
#saves .header {
	font-weight: bold;
}

/* Attack bonuses section */
#attacks td {
	border: none;
}
#attacks .labelValue {
	width: 16%;
}

/* Two-weapon bonuses section */
#twoweapon td {
	border: none;
}
#twoweapon .labelValue {
	width: 33%;
}

/* Combat maneuver section */
#maneuver td {
	border: none;
}
#maneuver .labelValue {
	width: 12%;
}
#maneuver .labelValue .label {
	height: 36px;
}

/* Abilities lists */
li .name {
	font-weight: bold;
}

/* Spells section */
table.spellDetails {
	border-collapse: collapse;
}
table.spellDetails th,
table.spellDetails td {
	border-style: none;
}
table.spellDetails td.description {
	text-align: justify;
	border-style: solid none none;
}

/* Ammunition & charges sections */
#ammo td.name,
#ammo td.quantity,
#chargedItems td.name,
#chargedItems td.quantity {
	width: 25%;
}
#ammo td.spent,
#chargedItems td.spent {
	font-size: 15px;
}

/* Equipment section */
#equipment .location {
	display: inline-block;
	vertical-align: top;
	width: 32%;
	margin-right: 6px;
}
#equipment #equipped.location {
	width: 65%;
}
#coins .labelValue {
	width: 19%;
	font-size: 16px;
}
#carryingCapacity .labelValue {
	width: 16%;
	font-size: 16px;
}
#factions .labelValue {
	width: 24%;
	font-size: 16px;
}
#coins .labelValue .label,
#carryingCapacity .labelValue .label,
#factions .labelValue .label {
	border: none;
}
#coins .labelValue .value,
#carryingCapacity .labelValue .value,
#factions .labelValue .value {
	border-style: solid;
}
#carryingCapacity .labelValue.load .value {
	background: #666;
	color: #e9e9e9;
}
