/* Common elements */
body, td, th {
	font-family: Tahoma,Verdana,Arial;
	font-size: 12px;
}
h2, h3 {
	text-align: center;
}
.strike{
	text-decoration: line-through;
}

/* Borders */
* {
	border-width: 1px;
	border-style: none;
}
h2, h3, .header {
	border-style: solid;
}

/* Tables */
table {
	width: 100%;
	border-collapse: separate;
}
td, th {
	border-style: solid;
	text-align: center;
}

/* Colors */
* {
	border-color: #666;
}
body {
	color: #666;
	background: #fff;
}
h2, th, .header {
	color: #e9e9e9;
	background: #666;
}
h3, .marker {
	color: #666;
	background: #e9e9e9;
}

/* Page layout */
#leftColumn, #centerColumn, #rightColumn {
	width: 33%;
	vertical-align: top;
	text-align: left;
	border: none;
	
}

/* Cell layouts */
.labelValue {
	display: inline-block;
	margin-top: 4px;
	vertical-align: bottom;
}
th.labelValue, td.labelValue {
	display: table-cell;
}
.labelValue .value,
.labelValue .label {
	display: block;
	text-align: center;
}
.labelValue .label {
	border-width: 1px 0 0 0;
	border-style: solid;
}
.labelValue.header .value {
	font-weight: bold;
	font-size: 16px;
	padding: 6px 6px 0;
}
.labelValue.header .label {
	border-style: none;
}

/* Name spans */
span.name {
	font-weight: bold;
}

/* Basics section */
#basics .labelValue {
	width: 24%;
}
#basics .labelValue .label {
	text-align: left;
}
#basics .labelValue.gender,
#basics .labelValue.age,
#basics .labelValue.height,
#basics .labelValue.weight,
#basics .labelValue.hair,
#basics .labelValue.eyes {
	width: 16%;
}

/* Skills section */
#skills table {
	border-collapse: collapse;
}
#skills th,
#skills td {
	border: none;
}
#skills td.name {
	text-align: left;
}

/* Derived section */
#derived .label{
	color: #e9e9e9;
	background: #666;
	font-weight: bold;
}
#derived div{
	width: 23%;
}


/* Advance section */
#advances table {
    border-collapse: collapse;
}
#advances th,
#advances td {
    border: none;
}

/* Powers section */
#powers table {
    border-collapse: collapse;
}
#powers th,
#powers td {
    border: none;
}
#powers td.name,
#powers td.description {
    text-align: left;
}
